<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^(home)$ index.php [L]
#RewriteRule ^(conclusion)$ index.php?page=$1 [L]
#RewriteRule ^(contact)$ index.php?page=$1 [L]
RewriteRule ^([^/]+)$ index.php?page=$1 [QSA,L]
#RewriteRule ^([^/]+_[^/]+)$ index.php?page=$1 [QSA,L]
#RewriteRule ^([^/]+_[^/]+)/([^/]+)$ index.php?page=$1&sub=$2 [QSA,L] 
</IfModule>